{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container text-center">

  <h1 class="font-weight-bold">Password Strength Checker</h1>

  <!-- <h3><a href="">About</a></h3> -->
<form action="{% url 'password_strength:password_strength_result' %}">
  <div class="form-group">
    <label class="font-italic">Enter your password below</label>
    <input class="form-control" placeholder="Enter Password" name='password'>
  </div>
    <button type="submit" class="btn btn-primary">Check</button>
</form>
   
</div>

{% endblock %}
